.form {
    padding: 1rem;
    background-color: white;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    margin-top: 2rem;
  }
  .p {
    color: red;
  }
  .backgroundcolor{
      background-color: lightblue ;
      width: 100%;
      min-height:100vh;
      background-size: cover; 
  }
  .title{
      text-align: left;
      text-size-adjust: 8;
      font-size: 8;
  }
  .button{
      width: 49%;
      
  }
